<div id="item_listing">
    <div id="item_title">
        <h2>{{grocery_item.brand}} {{grocery_item.name}}</h2>
        <h3>(ID #{{grocery_item.itemID}})</h3>
    </div>

    <div class="item_fact">
        <h3>Category:</h3>
        <h4>{{grocery_item.category}}</h4>
    </div>

    <div class="item_fact">
        <h3>Brand:</h3>
        <h4>{{grocery_item.brand}}</h4>
    </div>

    <div class="item_fact">
        <h3>Name:</h3>
        <h4>{{grocery_item.name}}</h4>
    </div>

    <div class="item_fact">
        <h3>About this Item:</h3>
        <ul>
            <li><h4>One serving of {{grocery_item.brand}} {{grocery_item.name}} costs around ${{grocery_item.price}}.</h4></li>
            <li><h4>One serving of this item contains {{grocery_item.cals}} calories, {{grocery_item.carbs}}g of carbs, {{grocery_item.fat}}g of fat, and {{grocery_item.protein}}g of protein.</h4></li>
        </ul>
    </div>

</div>