<h3>Search for an Item:</h3>
<form method="get">
    <div class="input_field">
        <label for="id">ID: </label>
        <input type="text" id="itemID" name="itemID" value="" style="size: 50px">
    </div>
    <div class="input_field">
        <label for="category">Category: </label>
        <select id="category" id="category" name="category" size="1">
            <option value=""></option>
            <option value="beverages">Beverages</option>
            <option value="bread_bakery">Bread/Bakery</option>
            <option value="canned_jarred">Canned/Jarred Goods</option>
            <option value="dairy">Dairy</option>
            <option value="dry_baking">Dry/Baking Goods</option>
            <option value="frozen_foods">Frozen Foods</option>
            <option value="meat">Meat</option>
            <option value="produce">Produce</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="input_field">
        <label for="brand">Brand: </label>
        <input type="text" id="brand" name="brand" value="" style="size: 50px">
    </div>
    <div class="input_field">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" style="size: 50px">
    </div>
    <input type="submit" value="Search">
</form>
<br>


{{#if grocery_items}}
    <div class="results_count"><h4>{{numItems}} item(s) found</h4></div>
    <table class="catalogue">
        <thead>
        <tr>
            <td colspan="2"></td>
            <td colspan="6">Per Serving</td>
        </tr>
        <tr>
            <td class="product_id">ID</td>
            <td class="product_fact">Product</td>
            <td class="nutrition_fact">Weight (g/mL)</td>
            <td class="nutrition_fact">Price</td>
            <td class="nutrition_fact">Cal</td>
            <td class="nutrition_fact">Carbs (g)</td>
            <td class="nutrition_fact">Fat (g)</td>
            <td class="nutrition_fact">Prot (g)</td>
        </tr>
        </thead>
        <tbody>
        {{#each grocery_items}}
            <tr>
                <td class="product_id">{{itemID}}</td>
                <td class="product_fact"><a href="/items/{{slug}}" target="_blank">{{brand}} {{name}}</a></td>
                <td class="nutrition_fact">{{weight}}</td>
                <td class="nutrition_fact">${{displayPrice}}</td>
                <td class="nutrition_fact">{{cals}}</td>
                <td class="nutrition_fact">{{carbs}}</td>
                <td class="nutrition_fact">{{fat}}</td>
                <td class="nutrition_fact">{{protein}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}

{{#if message}}
    <h3 style="text-align: center">{{message}} Maybe you can <a href='/create/item' target='_blank'>create one</a> that does!</h3>
{{/if}}