{{#if error}}
    <h3>{{error}}</h3>
{{/if}}

<form id="recipe_create" method="POST" action="">

    <div class="recipe_add_section">
        <h3>Submit Recipe to Community:</h3>
        <button type="submit" name="add" value="recipe">Submit Recipe</button>
    </div>

    <div class="recipe_add_section">
        <h3>Add Ingredient to Recipe:</h3>
        <label for="itemID">ID: </label>
        <input type="text" id="itemID" name="newItem_ID" value="" style="width: 50px">
        <br>
        <label for="weight">Amount: </label>
        <input type="text" id="weight" name="newItem_weight" value="" style="width: 50px">
        <br>
        <button type="submit" name="add" value="ingredient">Add Ingredient</button>

    </div>

    <h3>Current Recipe:</h3>

    <table class="catalogue">
        <thead>
        <tr>
            <td class="product_fact">Item</td>
            <td class="nutrition_fact">Amount (g/mL)</td>
            <td class="nutrition_fact">Price ($)</td>
            <td class="nutrition_fact">Cals</td>
            <td class="nutrition_fact">Carbs (g)</td>
            <td class="nutrition_fact">Fat (g)</td>
            <td class="nutrition_fact">Protein (g)</td>
        </tr>
        </thead>
        <tbody>
            {{#each ingredients}}
                <tr>
                    <td class="product_fact"><input type="text" name="name" value="{{this.brand}} {{this.name}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="weight" value="{{this.weight}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="price" value="{{this.price}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="cals" value="{{this.cals}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="carbs" value="{{this.carbs}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="fat" value="{{this.fat}}" readonly></td>
                    <td class="nutrition_fact"><input type="text" name="protein" value="{{this.protein}}" readonly></td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td class="product_fact">TOTAL</td>
                <td class="nutrition_fact">{{total.weight}}</td>
                <td class="nutrition_fact">{{total.price}}</td>
                <td class="nutrition_fact">{{total.cals}}</td>
                <td class="nutrition_fact">{{total.carbs}}</td>
                <td class="nutrition_fact">{{total.fat}}</td>
                <td class="nutrition_fact">{{total.protein}}</td>
            </tr>
        </tfoot>
    </table>

</form>